h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase
}

h2{
    text-align: left;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase
}

h3 {
    text-align: center;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h4 {
    text-align: center;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h5{
    margin-top: 20px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h6{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.color-1 {
    padding: 30px;
    background-color: #2B2B2B;
    border-radius: 25px;
    color: #FFFFFF;
}

.color-2 {
    padding: 30px;
    background-color: #2B2B2B;
    border-radius: 25px;
    color: #FFFFFF;
}

.color-3{
    margin-top: 30px;
    padding: 30px;
    background-color: #2B2B2B;
    border-radius: 0px;
    color: #FFFFFF;
    text-align: center;
}

.color-4{
    padding: 30px;
    background-color: #2B2B2B;
    color: #FFFFFF;
}

.color-5{
    padding: 20px;
    background-color: #2B2B2B;
    color: #FFFFFF;  
}

.color-6{
    margin-top: 30px;
    padding: 30px;
    background-color: #F6B7A2; 
    border-radius: 0px;
    color: #FFFFFF;
    text-align: center;
}

.redondo {
    border-radius: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #ffffff; 
    background-color: #2B2B2B;
}

.redondo-centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redondo-2 {
    border-radius: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 90px;
    margin-right: 90px;
    color: #000000; 
    background-color: #dddddd;
}


.centralizado{
    display: flex
}

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    background-color: black;
}

.carousel-caption-2{
    position:absolute;
    top: 50%;
    right: 0;
    left: 50;
    transform: translate(-50%, -50%);
    padding-top: 2.50rem;
    padding-bottom: 2.50rem;
    width: 50%
}

.menu {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #F6B7A2;
}

.navbar {
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.logo-footer img {
    max-width: 200px;
    margin: 20px;
}

.footer{
    margin-top: 10px;
    padding: 10px;
    background-color: #F6B7A2;
    text-align: center; 
}

a {
    text-decoration: none;
    color: white
}

.icones{
    margin-top: 30px;
}

.image-news{
     margin-top: 20px;
    margin-bottom: 20px;
}

.image-news{
    margin-top: 20px;
   margin-bottom: 20px;
}

.image-news{
   margin-top: 20px;
   margin-bottom: 20px;
}

.image-listen-later{
    margin-top: 0px;
    margin-bottom: 20px;
}


.text-center{
    margin-left: 10px;
}